/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env_uploads3local
.env.backup
.env_prod
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/*
.idea
/.idea
atabase/city
storage/uploads/
storage/media-library/
public/media/
public/sitemap.xml
public/images/vendor
public/js
public/vendor
public/css/
/public/sitemap.xml
/composer.lock
