/* bad-script-regular - latin */
@font-face {
    font-family: 'Bad Script';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/bad-script-v9-latin/bad-script-v9-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/bad-script-v9-latin/BadScript-Regular.ttf') format('truetype'),
    url('../fonts/bad-script-v9-latin/bad-script-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/bad-script-v9-latin/bad-script-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/bad-script-v9-latin/bad-script-v9-latin-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/bad-script-v9-latin/bad-script-v9-latin-regular.svg#BadScript') format('svg'); /* Legacy iOS */
}

/* jost-regular - latin */
@font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/jost-v6-latin/jost-v6-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/jost-v6-latin/Jost-VariableFont_wght.ttf') format('truetype'),
    url('../fonts/jost-v6-latin/jost-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/jost-v6-latin/jost-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/jost-v6-latin/jost-v6-latin-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/jost-v6-latin/jost-v6-latin-regular.svg#Jost') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: "FontAwesome";
    font-display: swap;
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/vendor/font-awesome/fontawesome-webfont.eot') format("embedded-opentype"),
    url('../fonts/vendor/font-awesome/fontawesome-webfont.woff2') format("woff2"),
    url('../fonts/vendor/font-awesome/fontawesome-webfont.woff') format("woff"),
    url('../fonts/vendor/font-awesome/fontawesome-webfont.ttf') format("truetype"),
    url('../fonts/vendor/font-awesome/fontawesome-webfont.svg') format("svg");
}
body {
    margin: 0;
    font-family: 'Roboto' !important;
    font-size: 1rem;
    font-weight: 600 !important;

    line-height: 1.6;
    color: #212529;
    background-color: #ffffff !important;
    min-height: calc(100vh - 80px);
}

.h1, h1 {
    font-size: 2.1875rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bad Script',cursive!important;
    font-weight: 700!important;
}
a {
    color: #4b7c6f;
    text-decoration: none;
    background-color: transparent;
}

label {
    font-family: 'Jost', sans-serif;
    color: #222;
}

.label-white label {
    color: #ffffff;
}

.logoimg {
    height: 30px;
}

.card-header {
    background: #ff9f5a !important;
    color: #222;

    border-bottom: 1px solid rgba(207,216,220,.35);
    font-weight: 600;
    padding: 1.25rem;
}

.card-footer {
    background: #ff9f5a !important;
    color: #222;
}

.card-body.blue {
    background: #6aaaaa !important;
}
.card-body.blue {
    background: #6aaaaa !important;
}

.btn-primary, .btn-info {
    background-color: #6aaaaa;
    border-color: #6aaaaa;
    color: #222;
}

.navbar {
    font-family: 'Bad Script',cursive!important
}

.album {
    font-family: 'Bad Script',cursive!important
}

.card-header {
    font-family: 'Bad Script',cursive!important;
}

.sidebar {
    margin-left: 0 !important;
}

.b-sidebar.topmetravel {
    z-index: 40;
    padding-right: 1rem;
    width: 15rem;
}

.zindex2 {
    z-index: 2 !important;
}

.paddingtop3 {
    padding-top: 7rem;
    z-index: 40;
}

@media (max-width: 600px) {
    .b-sidebar.topmetravel {
        width: 100% !important;
    }

    .showForMenu {
        display: block !important;
    }
}

.page-item.pagination-page-nav.active {
    z-index: 0;
}

.showForMenu {
    display: none;
}

.scroll {
    max-height: 450px;
    overflow-y: auto;
}

.padding30 {
    padding: 30px;
}

.dropzone .dz-preview .dz-image {
    z-index: 1 !important;
}

.vue-js-switch .v-switch-core .v-switch-button[data-v-25adc6c0] {
    z-index: 1 !important;
}

.text-orange {
    color: #ff9f5a !important
}

.textimg {
    cursor: pointer;
}

.single_image {
    margin-right: 3px;
    position: relative;
    transition: all 1s;
}

.single_image img {
    width: 100%;

}

.single_image:hover div.image_overlay {
    opacity: 1;
}

.image_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(106, 170, 170, .9);
    left: 0;
    top: 0;
    opacity: 0;
    transition: all 1s;

}

.image_overlay a {
    position: absolute;
    top: 20px;
    right: 20px;
    color: grey;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
}

.js-cookie-consent {
    position: relative;
    background: #6aaaaa;
    text-align: center;
    padding: 10px;
}

.js-cookie-consent-agree {
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.titleindex {
    background: none !important;
    border-bottom-color: #ff9f5a !important;
}

.sidetravelmap {
    max-height: 400px;
    overflow-y: scroll;
}

footer {
    height: 80px;
    flex: 0 0 auto;
}

.p-t25 {
    padding-top: 25px;
}

.coord {
    font-family: 'FontAwesome' !important;
    font-size: 0.9rem;
}

.block_1 {
    width: auto;
    height: 80%;
    overflow: hidden;
    position: relative;
    background-size: cover
}

.block_2 {
    position: absolute;
    visibility: hidden;
    left: 1px;
    background: rgba(0, 0, 0, 0.4392156862745098);
    font-size: 20px;
    color: white;
    width: auto;
    height: 73%;
    top: 39%
}

.block_2 p {
    padding: 110px 0px;
    text-align: center;
}

.block_1:hover .block_2 {
    visibility: visible;
    transition: 1s;
    -webkit-transition: 1s;
    transform: translatey(-160px);
    -webkit-transform: translatey(-160px)
}

.block_1:hover {
    filter: sepia(50%);
    -webkit-filter: sepia(60%);
    transition: 0.6s;
    -webkit-transition: 0.6s;
}
.leaflet-popup-content {
    width: auto !important;
}

@media (max-width: 600px) {
    .vue-image-crop-upload .vicp-wrap {
        width: auto !important;
        height: 500px !important;
    }
}

.multiselect__placeholder {
    color: #adadad;
    display: inline-block;
    margin-bottom: 10px !important;
    padding-top: 2px !important;
    font-size: 14px !important;
}

.text-justify {
    text-align: justify !important;
}

.text-wrap {
    white-space: normal !important;
}

.text-nowrap {
    white-space: nowrap !important;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}
.ml-auto,
.mx-auto {
    margin-left: auto !important;
}
.mr-auto,
.mx-auto {
    margin-right: auto !important;
}

/*sidebar*/

.sidebar {
    display: flex;
    flex-direction: column;
    padding: 0;
    color: #fff;
    background: #485779;
}

.sidebar .sidebar-close {
    position: absolute;
    right: 0;
    display: none;
    padding: 0 1rem;
    font-size: 24px;
    font-weight: 800;
    line-height: 55px;
    color: #fff;
    background: 0;
    border: 0;
    opacity: 0.8;
}

.sidebar .sidebar-close:hover {
    opacity: 1;
}

.sidebar .sidebar-header {
    flex: 0 0 auto;
    padding: 0.75rem 1rem;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
}

.sidebar .sidebar-form .form-control {
    color: #fff;
    background: #354059;
    border: 0;
}

.sidebar .sidebar-form .form-control::-moz-placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.sidebar .sidebar-form .form-control:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.sidebar .sidebar-form .form-control::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.sidebar .sidebar-scroll {
    position: relative;
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    width: 200px;
}

.sidebar .sidebar-nav {
    position: relative;
    flex: 1;
    width: 200px;
}

.sidebar > .sidebar-nav {
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar .nav {
    width: 200px;
    flex-direction: column;
    min-height: 100%;
    padding: 0;
}

.sidebar .nav-title {
    padding: 0.75rem 1rem;
    font-size: 80%;
    font-weight: 700;
    color: #e4e7ea;
    text-transform: uppercase;
}

.sidebar .nav-divider {
    height: 10px;
}

.sidebar .nav-item {
    position: relative;
    margin: 0;
    transition: background 0.3s ease-in-out;
}

.sidebar .nav-dropdown-items {
    max-height: 0;
    padding: 0;
    margin: 0;
    overflow-y: hidden;
    transition: max-height 0.3s ease-in-out;
}

.sidebar .nav-dropdown-items .nav-item {
    padding: 0;
    list-style: none;
}

.sidebar .nav-link {
    display: block;
    padding: 0.75rem 1rem;
    color: #fff;
    text-decoration: none;
    background: transparent;
}

.sidebar .nav-link .nav-icon {
    display: inline-block;
    width: 1.09375rem;
    margin: 0 0.5rem 0 0;
    font-size: 0.875rem;
    color: #73818f;
    text-align: center;
}

.sidebar .nav-link .badge {
    float: right;
    margin-top: 2px;
}

.sidebar .nav-link.active {
    color: #fff;
    background: #4273FA;
}

.sidebar .nav-link.active .nav-icon {
    color: white;
}

.sidebar .nav-link:hover {
    color: #fff;
    background: #4273FA;
}

.sidebar .nav-link:hover .nav-icon {
    color: #fff;
}

.sidebar .nav-link:hover.nav-dropdown-toggle::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 14'%3E%3Cpath fill='%23fff' d='M9.148 2.352l-4.148 4.148 4.148 4.148q0.148 0.148 0.148 0.352t-0.148 0.352l-1.297 1.297q-0.148 0.148-0.352 0.148t-0.352-0.148l-5.797-5.797q-0.148-0.148-0.148-0.352t0.148-0.352l5.797-5.797q0.148-0.148 0.352-0.148t0.352 0.148l1.297 1.297q0.148 0.148 0.148 0.352t-0.148 0.352z'/%3E%3C/svg%3E");
}

.sidebar .nav-link.disabled {
    color: #b3b3b3;
    cursor: default;
    background: transparent;
}

.sidebar .nav-link.disabled .nav-icon {
    color: #73818f;
}

.sidebar .nav-link.disabled:hover {
    color: #b3b3b3;
}

.sidebar .nav-link.disabled:hover .nav-icon {
    color: #73818f;
}

.sidebar .nav-link.disabled:hover.nav-dropdown-toggle::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 14'%3E%3Cpath fill='%23fff' d='M9.148 2.352l-4.148 4.148 4.148 4.148q0.148 0.148 0.148 0.352t-0.148 0.352l-1.297 1.297q-0.148 0.148-0.352 0.148t-0.352-0.148l-5.797-5.797q-0.148-0.148-0.148-0.352t0.148-0.352l5.797-5.797q0.148-0.148 0.352-0.148t0.352 0.148l1.297 1.297q0.148 0.148 0.148 0.352t-0.148 0.352z'/%3E%3C/svg%3E");
}

.sidebar .nav-link.nav-link-primary {
    background: #4273FA;
}

.sidebar .nav-link.nav-link-primary .nav-icon {
    color: rgba(255, 255, 255, 0.7);
}

.sidebar .nav-link.nav-link-primary:hover {
    background: #2961f9;
}

.sidebar .nav-link.nav-link-primary:hover i {
    color: #fff;
}

.sidebar .nav-link.nav-link-secondary {
    background: #c8ced3;
}

.sidebar .nav-link.nav-link-secondary .nav-icon {
    color: rgba(255, 255, 255, 0.7);
}

.sidebar .nav-link.nav-link-secondary:hover {
    background: #bac1c8;
}

.sidebar .nav-link.nav-link-secondary:hover i {
    color: #fff;
}

.sidebar .nav-link.nav-link-success {
    background: #60CF7D;
}

.sidebar .nav-link.nav-link-success .nav-icon {
    color: rgba(255, 255, 255, 0.7);
}

.sidebar .nav-link.nav-link-success:hover {
    background: #4cc96d;
}

.sidebar .nav-link.nav-link-success:hover i {
    color: #fff;
}

.sidebar .nav-link.nav-link-info {
    background: #63c2de;
}

.sidebar .nav-link.nav-link-info .nav-icon {
    color: rgba(255, 255, 255, 0.7);
}

.sidebar .nav-link.nav-link-info:hover {
    background: #4ebada;
}

.sidebar .nav-link.nav-link-info:hover i {
    color: #fff;
}

.sidebar .nav-link.nav-link-warning {
    background: #F5BE30;
}

.sidebar .nav-link.nav-link-warning .nav-icon {
    color: rgba(255, 255, 255, 0.7);
}

.sidebar .nav-link.nav-link-warning:hover {
    background: #f4b618;
}

.sidebar .nav-link.nav-link-warning:hover i {
    color: #fff;
}

.sidebar .nav-link.nav-link-danger {
    background: #FE3F61;
}

.sidebar .nav-link.nav-link-danger .nav-icon {
    color: rgba(255, 255, 255, 0.7);
}

.sidebar .nav-link.nav-link-danger:hover {
    background: #fe264c;
}

.sidebar .nav-link.nav-link-danger:hover i {
    color: #fff;
}

.sidebar .nav-link.nav-link-light {
    background: #f0f3f5;
}

.sidebar .nav-link.nav-link-light .nav-icon {
    color: rgba(255, 255, 255, 0.7);
}

.sidebar .nav-link.nav-link-light:hover {
    background: #e1e7eb;
}

.sidebar .nav-link.nav-link-light:hover i {
    color: #fff;
}

.sidebar .nav-link.nav-link-dark {
    background: #2f353a;
}

.sidebar .nav-link.nav-link-dark .nav-icon {
    color: rgba(255, 255, 255, 0.7);
}

.sidebar .nav-link.nav-link-dark:hover {
    background: #24282c;
}

.sidebar .nav-link.nav-link-dark:hover i {
    color: #fff;
}

.sidebar .nav-dropdown-toggle {
    position: relative;
}

.sidebar .nav-dropdown-toggle::before {
    position: absolute;
    top: 50%;
    right: 1rem;
    display: block;
    width: 8px;
    height: 8px;
    padding: 0;
    margin-top: -4px;
    content: "";
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 14'%3E%3Cpath fill='%2373818f' d='M9.148 2.352l-4.148 4.148 4.148 4.148q0.148 0.148 0.148 0.352t-0.148 0.352l-1.297 1.297q-0.148 0.148-0.352 0.148t-0.352-0.148l-5.797-5.797q-0.148-0.148-0.148-0.352t0.148-0.352l5.797-5.797q0.148-0.148 0.352-0.148t0.352 0.148l1.297 1.297q0.148 0.148 0.148 0.352t-0.148 0.352z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.3s;
}

.sidebar .nav-dropdown-toggle .badge {
    margin-right: 16px;
}

.sidebar .nav-dropdown.open {
    background: rgba(0, 0, 0, 0.2);
}

.sidebar .nav-dropdown.open > .nav-dropdown-items {
    max-height: 1500px;
}

.sidebar .nav-dropdown.open .nav-link {
    color: #fff;
    border-left: 0;
}

.sidebar .nav-dropdown.open .nav-link.disabled {
    color: #b3b3b3;
    background: transparent;
}

.sidebar .nav-dropdown.open .nav-link.disabled:hover {
    color: #b3b3b3;
}

.sidebar .nav-dropdown.open .nav-link.disabled:hover .nav-icon {
    color: #73818f;
}

.sidebar .nav-dropdown.open > .nav-dropdown-toggle::before {
    transform: rotate(-90deg);
}

.sidebar .nav-dropdown.open .nav-dropdown.open {
    border-left: 0;
}

.sidebar .nav-label {
    display: block;
    padding: 0.09375rem 1rem;
    color: #e4e7ea;
}

.sidebar .nav-label:hover {
    color: #fff;
    text-decoration: none;
}

.sidebar .nav-label .nav-icon {
    width: 20px;
    margin: -3px 0.5rem 0 0;
    font-size: 10px;
    color: #73818f;
    text-align: center;
    vertical-align: middle;
}

.sidebar .progress {
    background-color: #687ba5 !important;
}

.sidebar .sidebar-footer {
    flex: 0 0 auto;
    padding: 0.75rem 1rem;
    background: rgba(0, 0, 0, 0.2);
}

.sidebar .sidebar-minimizer {
    position: relative;
    flex: 0 0 50px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
    border: 0;
}

.sidebar .sidebar-minimizer::before {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    content: "";
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 14'%3E%3Cpath fill='%2373818f' d='M9.148 2.352l-4.148 4.148 4.148 4.148q0.148 0.148 0.148 0.352t-0.148 0.352l-1.297 1.297q-0.148 0.148-0.352 0.148t-0.352-0.148l-5.797-5.797q-0.148-0.148-0.148-0.352t0.148-0.352l5.797-5.797q0.148-0.148 0.352-0.148t0.352 0.148l1.297 1.297q0.148 0.148 0.148 0.352t-0.148 0.352z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12.5px;
    transition: 0.3s;
}

.sidebar .sidebar-minimizer:focus,
.sidebar .sidebar-minimizer.focus {
    outline: 0;
}

.sidebar .sidebar-minimizer:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.sidebar .sidebar-minimizer:hover::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 14'%3E%3Cpath fill='%23fff' d='M9.148 2.352l-4.148 4.148 4.148 4.148q0.148 0.148 0.148 0.352t-0.148 0.352l-1.297 1.297q-0.148 0.148-0.352 0.148t-0.352-0.148l-5.797-5.797q-0.148-0.148-0.148-0.352t0.148-0.352l5.797-5.797q0.148-0.148 0.352-0.148t0.352 0.148l1.297 1.297q0.148 0.148 0.148 0.352t-0.148 0.352z'/%3E%3C/svg%3E");
}

@media (min-width: 992px) {
    .sidebar-compact .sidebar .sidebar-nav {
        width: 150px;
    }

    .sidebar-compact .sidebar .nav {
        width: 150px;
    }

    .sidebar-compact .sidebar .d-compact-none {
        display: none;
    }

    .sidebar-compact .sidebar .nav-title {
        text-align: center;
    }

    .sidebar-compact .sidebar .nav-item {
        width: 150px;
        border-left: 0;
    }

    .sidebar-compact .sidebar .nav-link {
        text-align: center;
    }

    .sidebar-compact .sidebar .nav-link .nav-icon {
        display: block;
        width: 100%;
        margin: 0.25rem 0;
        font-size: 24px;
    }

    .sidebar-compact .sidebar .nav-link .badge {
        position: absolute;
        top: 18px;
        right: 10px;
    }

    .sidebar-compact .sidebar .nav-link.nav-dropdown-toggle::before {
        top: 30px;
    }

    .sidebar-minimized .sidebar {
        z-index: 1019;
    }

    .sidebar-minimized .sidebar .sidebar-scroll {
        overflow: visible;
        width: 50px;
    }

    .sidebar-minimized .sidebar .sidebar-nav {
        overflow: visible;
        width: 50px;
    }

    .sidebar-minimized .sidebar .nav {
        width: 50px;
    }

    .sidebar-minimized .sidebar .d-minimized-none,
    .sidebar-minimized .sidebar .nav-divider,
    .sidebar-minimized .sidebar .nav-label,
    .sidebar-minimized .sidebar .nav-title,
    .sidebar-minimized .sidebar .sidebar-footer,
    .sidebar-minimized .sidebar .sidebar-form,
    .sidebar-minimized .sidebar .sidebar-header {
        display: none;
    }

    .sidebar-minimized .sidebar .sidebar-minimizer {
        position: fixed;
        bottom: 0;
        width: 50px;
        height: 50px;
        background-color: #3e4c69;
    }

    .sidebar-minimized .sidebar .sidebar-nav {
        padding-bottom: 50px;
    }

    .sidebar-minimized .sidebar .sidebar-minimizer::before {
        width: 100%;
        transform: rotate(-180deg);
    }

    .sidebar-minimized .sidebar .nav-item {
        width: 50px;
        overflow: hidden;
    }

    .sidebar-minimized .sidebar .nav-item:hover {
        width: 250px;
        overflow: visible;
    }

    .sidebar-minimized .sidebar .nav-item:hover > .nav-link {
        background: #4273FA;
    }

    .sidebar-minimized .sidebar .nav-item:hover > .nav-link .nav-icon {
        color: #fff;
    }

    .sidebar-minimized .sidebar .nav-item:hover .nav-link.disabled,
    .sidebar-minimized .sidebar .nav-item:hover .nav-link :disabled {
        background: #485779;
    }

    .sidebar-minimized .sidebar .nav-item:hover .nav-link.disabled .nav-icon,
    .sidebar-minimized .sidebar .nav-item:hover .nav-link :disabled .nav-icon {
        color: #73818f;
    }

    .sidebar-minimized .sidebar section :not(.nav-dropdown-items) > .nav-item:last-child::after {
        display: block;
        margin-bottom: 50px;
        content: "";
    }

    .sidebar-minimized .sidebar .nav-link {
        position: relative;
        padding-left: 0;
        margin: 0;
        white-space: nowrap;
        border-left: 0;
    }

    .sidebar-minimized .sidebar .nav-link .nav-icon {
        display: block;
        float: left;
        width: 50px;
        font-size: 18px;
    }

    .sidebar-minimized .sidebar .nav-link .badge {
        position: absolute;
        right: 15px;
        display: none;
    }

    .sidebar-minimized .sidebar .nav-link:hover {
        width: 250px;
        background: #4273FA;
    }

    .sidebar-minimized .sidebar .nav-link:hover .badge {
        display: inline;
    }

    .sidebar-minimized .sidebar .nav-link.nav-dropdown-toggle::before {
        display: none;
    }

    .sidebar-minimized .sidebar .nav-dropdown-items .nav-item {
        width: 200px;
    }

    .sidebar-minimized .sidebar .nav-dropdown-items .nav-item .nav-link {
        width: 200px;
    }

    .sidebar-minimized .sidebar .nav > .nav-dropdown > .nav-dropdown-items {
        display: none;
        max-height: 1000px;
        background: #485779;
    }

    .sidebar-minimized .sidebar .nav > .nav-dropdown:hover {
        background: #4273FA;
    }

    .sidebar-minimized .sidebar .nav > .nav-dropdown:hover > .nav-dropdown-items {
        position: absolute;
        left: 50px;
        display: inline;
    }

    *[dir=rtl] .sidebar-minimized .sidebar .nav {
        list-style-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
    }

    *[dir=rtl] .sidebar-minimized .sidebar .nav .divider {
        height: 0;
    }

    *[dir=rtl] .sidebar-minimized .sidebar .sidebar-minimizer::before {
        width: 100%;
        transform: rotate(0deg);
    }

    *[dir=rtl] .sidebar-minimized .sidebar .nav-link {
        padding-right: 0;
    }

    *[dir=rtl] .sidebar-minimized .sidebar .nav-link .nav-icon {
        float: right;
    }

    *[dir=rtl] .sidebar-minimized .sidebar .nav-link .badge {
        right: auto;
        left: 15px;
    }

    *[dir=rtl] .sidebar-minimized .sidebar .nav-link:hover .badge {
        display: inline;
    }

    *[dir=rtl] .sidebar-minimized .sidebar .nav > .nav-dropdown > .nav-dropdown-items {
        display: none;
        max-height: 1000px;
        background: #485779;
    }

    *[dir=rtl] .sidebar-minimized .sidebar .nav > .nav-dropdown:hover {
        background: #4273FA;
    }

    *[dir=rtl] .sidebar-minimized .sidebar .nav > .nav-dropdown:hover > .nav-dropdown-items {
        position: absolute;
        left: 0;
        display: inline;
    }
}

*[dir=rtl] .sidebar .nav-dropdown-toggle::before {
    position: absolute;
    right: auto;
    left: 1rem;
    transform: rotate(180deg);
}

*[dir=rtl] .sidebar .nav-dropdown.open > .nav-dropdown-toggle::before {
    transform: rotate(270deg);
}

*[dir=rtl] .sidebar .nav-link .nav-icon {
    margin: 0 0 0 0.5rem;
}

*[dir=rtl] .sidebar .nav-link .badge {
    float: left;
    margin-top: 2px;
}

*[dir=rtl] .sidebar .nav-link.nav-dropdown-toggle .badge {
    margin-right: auto;
    margin-left: 16px;
}

*[dir=rtl] .sidebar .sidebar-minimizer::before {
    right: auto;
    left: 0;
    transform: rotate(180deg);
}

*[dir=rtl] .sidebar-toggler {
    margin-right: 0 !important;
}

.nav .dropdown-menu {
    border-radius: 0;
    margin-top: 13px;
}

.dropdown-menu {
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.23);
}

.dropdown-header {
    background: #4273FA;
    color: white;
    border-bottom: none;
}

.dropdown-item {
    border-bottom: 1px solid #F0F2F4;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #263238;
    text-decoration: none;
    background-color: white;
}

.app-header.navbar .navbar-brand {
    padding: 0.5rem 1rem;
    color: #4273fa;
    font-weight: 600;
    display: inline;
    width: auto;
    height: auto;
    margin-right: 1rem;
    background: none !important;
    border: none;
}

.app-header.navbar .navbar-brand img {
    max-width: 200px;
    max-height: 20px;
}

.dropdown-toggle {
    box-shadow: none !important;
}

.dropdown-toggle:hover {
    cursor: pointer;
}

.dropdown .dropdown-menu {
    display: block;
    transition: all 300ms ease-in-out;
    opacity: 0;
    pointer-events: none;
    transform: translateY(5px);
}

.open .dropdown-menu {
    display: block;
    opacity: 1;
    pointer-events: all;
    transform: translateY(-5px);
}

.app-header.navbar {
    border-bottom: 1px solid #D6DEE3;
}

@media (max-width: 991px) {
    .app-header .navbar-brand {
        text-align: center;
    }

    .avatar-initials {
        display: none;
    }
}

@media (max-width: 600px) {
    .app-header.navbar .navbar-brand {
        display: none;
    }
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    font-size: .875rem;
    border-bottom: 1px solid #f0f2f4;
}


.dropdown-item {
    position: relative;
    padding: 10px 20px;

}

.dropdown-item:last-child {
    border-bottom: 0;
}

.dropdown-item i {
    display: inline-block;
    width: 20px;
    margin-right: 10px;
    margin-left: -10px;
    color: #c8ced3;
    text-align: center;
}

.dropdown-item .badge {
    position: absolute;
    right: 10px;
    margin-top: 2px;
}

.dropdown-header {
    padding: 8px 20px;
    background: #e4e7ea;
    border-bottom: 1px solid #c8ced3;
}

.dropdown-header .btn {
    margin-top: -7px;
    color: #73818f;
}

.dropdown-header .btn:hover {
    color: #23282c;
}

.dropdown-header .btn.pull-right {
    margin-right: -20px;
}

.dropdown-menu-lg {
    width: 250px;
}

.app-header .navbar-nav .dropdown-menu {
    position: absolute;
}

.app-header .navbar-nav .dropdown-menu-right {
    right: 0;
    left: auto;
}

.app-header .navbar-nav .dropdown-menu-left {
    right: auto;
    left: 0;
}

*[dir=rtl] .dropdown-toggle::before {
    margin-right: 0;
    margin-left: 0.255em;
}

*[dir=rtl] .dropdown-toggle::after {
    margin-right: 0.255em;
    margin-left: 0;
}
/*endsidebar*/



.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.card {
    margin-bottom: 1.5rem;
}

.page-link {
    color: #222;
}

.pagination li.active a {
    color: #222!important;
    background-color: #ff9f5a!important;
}
@media (min-width: 1200px) {
    .text-xl-left {
        text-align: left !important;
    }

    .text-xl-right {
        text-align: right !important;
    }

    .text-xl-center {
        text-align: center !important;
    }
}

.text-lowercase {
    text-transform: lowercase !important;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.text-capitalize {
    text-transform: capitalize !important;
}

.font-weight-light {
    font-weight: 300 !important;
}

.font-weight-lighter {
    font-weight: lighter !important;
}

.font-weight-normal {
    font-weight: 400 !important;
}

.font-weight-bold {
    font-weight: 700 !important;
}

.font-weight-bolder {
    font-weight: bolder !important;
}

.font-italic {
    font-style: italic !important;
}

.text-white {
    color: #fff !important;
}

.text-primary {
    color: #007bff !important;
}

a.text-primary:hover, a.text-primary:focus {
    color: #0056b3 !important;
}

.text-secondary {
    color: #6c757d !important;
}

a.text-secondary:hover, a.text-secondary:focus {
    color: #494f54 !important;
}

.text-success {
    color: #28a745 !important;
}

a.text-success:hover, a.text-success:focus {
    color: #19692c !important;
}

.text-info {
    color: #17a2b8 !important;
}

a.text-info:hover, a.text-info:focus {
    color: #0f6674 !important;
}

.text-warning {
    color: #ffc107 !important;
}

a.text-warning:hover, a.text-warning:focus {
    color: #ba8b00 !important;
}

.text-danger {
    color: #dc3545 !important;
}

a.text-danger:hover, a.text-danger:focus {
    color: #a71d2a !important;
}

.text-light {
    color: #f8f9fa !important;
}

a.text-light:hover, a.text-light:focus {
    color: #cbd3da !important;
}

.text-dark {
    color: #343a40 !important;
}

a.text-dark:hover, a.text-dark:focus {
    color: #121416 !important;
}

.text-body {
    color: #212529 !important;
}

.text-muted {
    color: #6c757d !important;
}

.text-black-50 {
    color: rgba(0, 0, 0, 0.5) !important;
}

.text-white-50 {
    color: rgba(255, 255, 255, 0.5) !important;
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.text-decoration-none {
    text-decoration: none !important;
}

.text-break {
    word-break: break-word !important;
    word-wrap: break-word !important;
}

.text-reset {
    color: inherit !important;
}

.visible {
    visibility: visible !important;
}

.invisible {
    visibility: hidden !important;
}
.home-quote {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}

.home-quote blockquote {
    font-family: 'Bad Script', cursive !important;
    font-size: 25px;
    font-style: italic;
    max-width: 100%;
    margin: 0.25em 0;
    padding: 0.25em 0 0.35em 40px;
    line-height: 1.45;
    position: relative;
    color: #f1f5ee;
}

.home-quote blockquote:before {
    display: block;
    content: "\201C";
    font-size: 70px;
    position: absolute;
    left: -15px;
    top: -20px;
    color: #ffffff;
}

.home-quote blockquote:after {
    display: block;
    content: "\201d";
    font-size: 70px;
    position: absolute;
    right: -15px;
    color: #ffffff;
}

.home-quote blockquote cite {
    color: #f1f5ee;
    font-size: 18px;
    display: block;
    margin-top: 10px;
}

.home-quote blockquote cite:before {
    content: "\2014\2009";
}

.reg-header {
    font-family: Georgia, serif;
    font-size: 25px;
    font-style: italic;
    color: #f1f5ee;
}

.reg-text {
    font-family: Georgia, serif;
    font-size: 13px;
    color: #f1f5ee;
}

header.masthead {
    position: relative;
    background-color: #343a40;
    background: url("/public/media/slider/about.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

header.masthead .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
}

header.masthead h1 {
    font-size: 2rem;
}

@media (min-width: 768px) {
    header.masthead {
        padding-top: 12rem;
        padding-bottom: 12rem;
    }

    header.masthead h1 {
        font-size: 3rem;
    }
}

.showcase .showcase-text {
    padding: 3rem;
}

.showcase .showcase-img {
    min-height: 30rem;
    background: no-repeat center right;
    background-size: contain;
}

@media (min-width: 768px) {
    .showcase .showcase-text {
        padding: 7rem;
    }
}

.features-icons {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.features-icons .features-icons-item {
    max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
    height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
    font-size: 4.5rem;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
    font-size: 5rem;
}

.testimonials {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.testimonials .testimonial-item {
    max-width: 18rem;
}

.testimonials .testimonial-item img {
    max-width: 12rem;
    box-shadow: 0px 5px 5px 0px #adb5bd;
}



