body {
    padding-top: 3.375rem;
    color: #6c757d;
}

@media (min-width: 992px) {
    body {
        padding-top: 0;
        padding-left: 17rem;
    }
}

@media (min-width: 992px) {
    #sideNav {
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 17rem;
        height: 100vh;
        background: url("/media/slider/8.jpg") center;
        background-size: cover;
    }

    #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
        color: #935233;
    }

    #sideNav .navbar-collapse .navbar-nav .nav-item .active {
        color: #222;
        font-size: large;
    }

    #sideNav .navbar-brand {
        display: flex;
        margin: auto auto 0;
        padding: 0.5rem;
    }

    #sideNav .navbar-brand .img-profile {
        max-width: 10rem;
        max-height: 10rem;
        border: 0.5rem solid rgba(255, 255, 255, 0.2);
    }

    #sideNav .navbar-collapse {
        display: flex;
        align-items: flex-start;
        flex-grow: 0;
        margin-bottom: auto;
    }

    #sideNav .navbar-collapse .navbar-nav {
        flex-direction: column;
        width: 100%;
    }

    #sideNav .navbar-collapse .navbar-nav .nav-item {
        display: block;
        font-family: 'Bad Script', cursive;

    }

    #sideNav .navbar-collapse .navbar-nav .nav-item.info {
        color: #ffffff !important;
        font-family: 'Jost', sans-serif;
    }

    #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
        display: block;
    }
}

.social-icons .social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #495057;
    color: #fff;
    border-radius: 100%;
    font-size: 1.5rem;
    margin-right: 1.5rem;
}

.social-icons .social-icon:last-child {
    margin-right: 0;
}

.social-icons .social-icon:hover {
    background-color: #bd5d38;
}

.dev-icons {
    font-size: 3rem;
}

section.travel-section {
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 5rem;
}

section.travel-section.description img {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
    max-height: 800px;
    margin: 10px auto 20px;
    display: block;
}

section.travel-section.description {
    font-size: 1.25rem;
}

section.travel-section.description span {
    font-size: 1.25rem !important;
}

section.travel-section .travel-section-content {
    width: 100%;
}

@media (min-width: 768px) {
    section.travel-section {
        min-height: 100vh;
    }
}

@media (min-width: 992px) {
    section.travel-section {
        padding-left: 3rem;
        padding-right: 3rem;
        padding-top: 2rem;
        padding-bottom: 5rem;
    }
}

.textmenu {
    color: #222;
    font-family: 'Cousine', monospace;
    padding-top: 3rem;
}

.ulmap {
    font-family: 'Cousine', monospace;
}

.textmenu li {
    list-style: none;
}

.small {
    font-size: 0.8rem;
}

.gallery .fa-chevron-right:before {
    content: "\003E";
}

.gallery .fa-chevron-left:before {
    content: "\003C";
}
